body {
	background: lightgrey;
}

body .header {
	display: block;
	text-align: center;
	background: grey;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

body #placeholder1, #placeholder2 {
	display: flex;
	justify-content: center;
	padding: 25px;
	margin: 25px;
}

body button {
	padding: 10px;
	background: grey;
	border-radius: 6px;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%
}